.sp {
  display: none;

  @include mq() {
    display: block;
  }

  &-inline {
    display: none;

    @include mq() {
      display: inline;
    }
  }
}

.pc {
  @include mq() {
    display: none;
  }
}

.ib {
  display: inline-block;
}

.font {
  &-cormorant {
    font-family: $font-cormorant;
  }
}

.c {
  &-orange {
    color: $orange;
  }
  & strong {
    color: $orange;
  }
}

.text {

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right;
  }

}

.inner {
  width: 100%;
  max-width: 1280px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;

  @include mq() {
    width: 90.4%;
    padding-left: 0;
    padding-right: 0;
  }

  &-pc {
    @extend .inner;

    @include mq() {
      width: 100%;
    }
  }

  &-sp {
    @include mq() {
      width: 90.4%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.linkBtn {
  display: inline-block;
  padding: 0 20px;
  border: 1px solid $orange;
  border-radius: 6px;
  line-height: 28px;

  @media (hover: hover) {
    transition: 0.3s;

    &:hover {
      background: $orange;
    }
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(60px);

  &.on {
    opacity: 1;
    transform: translateY(0);
    transition: 1.4s;
  }
}

.fadeIn02 {
  opacity: 0;

  &.on {
    opacity: 1;
    transition: opacity 1.4s;
  }
}

.underline {
  text-decoration: underline !important;
}